<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->
<!--  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--    <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--      <Pattern>-->
<!--        %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n-->
<!--      </Pattern>-->
<!--    </layout>-->
<!--  </appender>-->

<!--  <root level="warn">-->
<!--    <appender-ref ref="STDOUT" />-->
<!--  </root>-->


<!--  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--    &lt;!&ndash; encoders are assigned the type-->
<!--         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default &ndash;&gt;-->
<!--    <encoder>-->
<!--      <pattern>%d{HH:mm:ss} %-5level %logger - %msg%n</pattern>-->
<!--    </encoder>-->
<!--  </appender>-->
<!--  <logger name="o.j.g.t.vertexcache.GuavaVertexCache" level="INFO"/>-->
<!--  <logger name="org.apache.cassandra.gms.FailureDetector" level="INFO"/>-->
<!--  <root level="INFO">-->
<!--    <appender-ref ref="CONSOLE" />-->
<!--  </root>-->
<!--</configuration>-->

